.main {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--color-stone-50, #fafaf9);
}

.sidebar {
    width: 33.333333%;
    min-width: 350px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--color-stone-200, #e7e5e4);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    z-index: 20;
    background-color: white;
}

.mapContainer {
    flex: 1;
    position: relative;
    z-index: 0;
}